---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% elsif page.details %}{{ page.details }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <!-- modified this so description doesn't show either About page or Design Portfolio page -->
                    <span class="subheading">{% if page.title != "About" and page.title != "Design Portfolio" and page.header-img != "img/bg.3.png" %}{{ site.description }}{% endif %}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
